body{
	
	margin-bottom: -50px;
	background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);
	align-self: center;
	
}
.about{
	font-family: serif;
	color: #fff;
}
.ministry{
	font-family: sans-serif;
	color: #fff;
	
}
.footer-area{
	align-content: center;

}	
